/* Background Animation */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #1d2671, #c33764, #3a1c71, #00c6ff);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: white;
}

/* Gradient Animation */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Center Container */
.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);

    text-align: center;

    animation: fadeIn 1.5s ease;
}

/* Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Title */
.title {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8;
}

/* File Box */
.file-box {
    margin-bottom: 20px;
    text-align: left;
}

/* File Input */
input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
    cursor: pointer;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;

    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,75,43,0.7);
}

/* Button Click Effect */
.btn:active {
    transform: scale(0.95);
}
.report-box {
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
    background: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}